@media only screen and (max-width: 900px) {
    .webNavBar {
        display: none !important;
    }
}

.webNavBar {
    margin: 0px;
    /*original*/
    /*margin-top: 2rem;*/
    /*padding: 0px;*/
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    /*this fixes navbar at the top and allows for the 100vh on welcome section*/
    /*position: absolute;*/
    /*keeps navbar at top, test out the 100vh thing tho*/
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 8px 26px -7px #e4e4e4;
}

.webNavBar > ul {
    display: flex;
    padding: 0px;
    align-items: center;
}

.webNavBar > ul > li {
    list-style: none;
    margin: 0 1rem 0 1rem;
}

.webNavBar > ul > li:last-child {
    margin-left: 10rem;
}

.webNavBar > ul > li:last-child a {
    border-radius: 4px;
    background: #784cbd;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.webNavBar > ul > li:last-child > a:hover{
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #784cbd;
}

.webNavBar > ul > li > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.webNavBar > ul > li > a:hover{
    transition: all 0.1s ease-in-out;
    color: #784cbd;
}