@media only screen and (min-width: 900px) {
    [class*='mobileNavBar']{
        display: none !important;
    }
}

.grMenu, .grClose {
    display: none;
    color: #33322f;
}

@media only screen and (max-width: 900px) {
    .grMenu, .grClose {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 2.5rem;
        cursor: pointer;
    }
}

[class*='mobileNavBar'] {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 6rem;
    transition: height .25s;
    background-color: white;
    box-shadow: 0px 8px 26px -7px #e4e4e4;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.mobileNavBar-opened{
    height: 25rem;
    transition: height .25s;
}

.mobileNavBar-opened > ul > li > a{
    animation: fadeIn 1s;
}

[class*='mobileNavBar'] > ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    margin-top: 5rem;
}

[class*='mobileNavBar'] > ul > li {
    list-style: none;
    margin: .75rem 0 .75rem 0;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

[class*='mobileNavBar'] > ul > li > a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

[class*='mobileNavBar'] > ul > li > a:hover {
    color: #784cbd;
}